<h1 class="h3 mb-3 fw-normal text-center">Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="form-inputs d-flex flex-column">
    <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "E-mail",
                label: false,
                input_html: { autocomplete: "email", class: "input-down" }%>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: "Senha",
                input_html: { autocomplete: "new-password", class: "rounded-0" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                placeholder: "Confirmar senha",
                input_html: { autocomplete: "new-password", class: "input-up mb-2" } %>
    <%= f.input :name,
                required: true,
                label: false,
                placeholder: "Nome",
                input_html: { class: "input-down" }%>
    <%= f.input :phone,
                required: true,
                label: false,
                placeholder: "Telefone",
                input_html: { class: "input-up" }%>
  </div>



  <div class="text-center">
    <%= f.error_notification class: 'p-1' %>
    <%# <%= render 'devise/shared/error_messages' > %>
    <%# <%= render 'layouts/shared/flash' if flash.present? > %>
  </div>

  <%= render 'devise/shared/button_sumbit', f: f, text: 'Cadastrar' %>

<% end %>

<div class="text-primary d-flex justify-content-between">
  <div class="w-100 text-end">
    <%= render "devise/shared/links" %>
  </div>
</div>
