<h1 class="h3 mb-3 fw-normal text-center">Forgot your password?</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "E-mail",
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="text-center">
    <%= f.error_notification class: 'p-1' %>
  </div>

  <%= render 'devise/shared/button_sumbit', f: f, text: 'Recuperar senha' %>
<% end %>


<div class="text-primary d-flex justify-content-between">
  <div class="w-100 text-end">
    <%= render "devise/shared/links" %>
  </div>
</div>